<div id="<%= dom_id phone_number %>">
  <p>
    <strong>Number:</strong>
    <%= phone_number.number %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= phone_number.description %>
  </p>

  <p>
    <strong>Count:</strong>
    <%= phone_number.count %>
  </p>

</div>
